
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2>ABOUT</h2>
        <p>Cette magnifique app en formation</p>
        <a href="~/">Retour à l'accueil</a>

    </div>
